body {
    background-color: #6bb9e8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#equalizer {
    .circle {
        stroke: #f4f4f4;
        stroke-width: 10px;
    }
    .circle-shadow {
        stroke: #6999b8;
        stroke-width: 10px;
    }

    .link {
        stroke: #f4f4f4;
        stroke-width: 4px;
    }
    .link-shadow {
        stroke: #6999b8;
        stroke-width: 4px;
    }
}
